.bg
  display: inline-block
  vertical-align: top

.nav-list
  list-style: none
  margin: 0
  padding: 0

.nav-list li
  display: inline

.nav-list a
  display: inline-block
  line-height: 50px
  padding: 0 10px
  color: #eee
  text-decoration: none
